body {
    background-color: #bfd5c9;
}

h1 {
    color: #05a3a4;
    font-family: "Courier New", monospace;
    text-align: center;
}

.input {
    text-align: center;
}

.container {
    display: grid;
    margin-top: 20px;
}

.button {
    background-color: #FFFFFF;
    border: 2px solid #006373;
    color: #006373;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 100px;
    margin: auto;
}

.button:hover {
    color: #FFFFFF;
    background-color: #006373;
}