<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/skyStyle.css" type="text/css">
    <title>Sky</title>
</head>
<body>
    <h1>What colour is the sky on a clear day?</h1>
    <form action="/sun" method="POST">
        <div class="input"><input type="text" name="colour"></div>
        <div class="container"><button class="button">Submit</button></div>
    </form>
    <form action="/about" method="POST">
        <div class="container"><button class="button">About</button></div>
    </form>
</body>
</html>